<!DOCTYPE html>
<html>
  <head>
    <title>Evently</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQXJ7xW5NzUw_4OUgy70MOsNtqK9lHDM6OjuQ&usqp=CAU' >
<a><%= link_to 'View Events', events_path%></a>
<a><%= link_to 'Post Events', new_event_path%></a>
</nav>
    <%= yield %>
  </body>
</html>
